$font:'Montserrat', sans-serif;
main{
    section.one{
        display: flex;  
        align-items:baseline;
        padding-left: none;
        margin-left: 20px;
        .parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 10px 40px 10px;
            button.btn.btn-primary{
                background-color: transparent;
                border: none;
                width: 300px;
                height: 300px;
                margin-top:50px;
                font-size: 50px;
                font-family: $font;
                margin-left: 80px;
            }
            }
            .about{
                div{ text-align: center;
                    p{
                    font-size: 30px;
                    padding: 40px 10px 10px 10px;    
                    }
                    
                }
            }
            .first{
                img{
                    margin-left: 50px;
                    margin-right: auto;
                    margin-top: -50px;
                }

            }
            .carrusel{
                .carousel{
                    min-width: 450px;
                    min-height: 400px;
                    border-radius: 30px;
                    margin-right: 10px;
                    .texto{
                       background-color: #FFDAC1;
                       font-family: $font;
                       text-align: center;
                       margin-top: 100px;
                       padding-right: 50px;
                       padding-left: 50px;
                       min-width: 450px;
                       height: 400px;
                       h2{
                           margin-top: 100px;
                       }
                   }    
                   }                
               }
    }

section.three{
    .content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        margin-top: 50px;
    }
    .page{
        h5{
            font-family: $font;
            font-size: 42px;
            font-weight: 700;
            color: #fff;
        }
        p{
            color: #fff;
        }
        a{
            color: #fff;
            width: min-content;
        }
        a:hover{
            background-color: #FFDAC1;
            color: #000;
        }
        .btn{
            background-color:#B5EAD7;
            border: none;
            width: 200px;
            height: auto;
            font-size: 20px;

        }
        .btn:hover{
            background: #59e9b4;
            color: #000;
        }

    }
    .aysen{
        .background{
            background-image: url(../icons/repos/aysen-page.jpg);
            width:100%;
            height: 200px;
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .go{
        .background{
            background-image: url(../icons/repos/go-page.jpg);
            width:100%;
            height: 200px;
            background-attachment: fixed;
            background-size: contain;

        }
    }
    .panda{
        .background{
            background-image: url(../icons/repos/panda-page.jpg);
            width:100%;
            height: 200px;
            background-attachment: fixed;
            background-size:contain;

        }
    }
    .t-rex{
        .background{
            background-image: url(../icons/repos/trex-page.jpg);
            width:100%;
            height: 200px;
            background-attachment: fixed;
            background-size: contain;

        }
    }

    .projets{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        margin-top: 50px;
    }
    .flipa-page{
        margin-top: 100px;
        margin-left: 20px;
        .background{
            width:100%;
            height: 200px;
            background-image: url(../icons/repos/flipa-page.jpg);
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;

        }
        h5{
            font-family: $font;
            font-size: 42px;
            font-weight: 700;
            color: #fff;
        }
        p{
            color: #fff;
        }
        a{
            color: #fff;
            width: min-content;
        }
        a:hover{
            background: #59e9b4;
            color: #000;
        }
        .btn{
            background-color:#FFDAC1;
            border: none;
            width: 200px;
            height: auto;
            font-size: 20px;

        }
        .btn:hover{
            background-color: #f7a36b;
            color: #000;
        }
    }
    .porfolio{
        margin-top: 100px;

        .background{
            width: 100%;
            height: 200px;
            background-image: url(../icons/repos/porfolio-one.jpg);
            background-attachment: fixed;
            background-size: contain;

        }
        h5{
            font-family: $font;
            font-size: 42px;
            font-weight: 700;
            color: #fff;
        }
        p{
            color: #fff;
        }
        a{
            color: #fff;
            width: min-content;
        }
        a:hover{
            background: #59e9b4;
            color: #000;
        }
        .btn{
            background-color:#FFDAC1;
            border: none;
            width: 200px;
            height: auto;
            font-size: 20px;

        }
        .btn:hover{
            background-color: #f7a36b;
            color: #000;
        }
    }
    .js-page{
        margin-top: 100px;

        .background{
            width: 100%;
            height: 200px;
            background-image: url(../icons/repos/js-page.jpg);
            background-attachment: fixed;
            background-size: contain;

        }
        h5{
            font-family: $font;
            font-size: 42px;
            font-weight: 700;
            color: #fff;
        }
        p{
            color: #fff;
        }
        a{
            color: #fff;
            width: min-content;
        }
        a:hover{
            background: #59e9b4;
            color: #000;
        }
        .btn{
            background-color:#FFDAC1;
            border: none;
            width: 200px;
            height: auto;
            font-size: 20px;

        }
        .btn:hover{
            background-color: #f7a36b;
            color: #000;
        }
    }
}

}

    // .div-imagen {
    //     display:inline-block;
    //     position:relative;
    //     width: 600px;
    //     height: auto;
    //     img{
    //         width: 100%;
    //         height: 100%;
    //         border-radius: 10px;
    //     }
    //   }
      
    //   .div-imagen > div {
    //     position:absolute;
    //     top:0;
    //     left:0;
    //     z-index:-1;
    //     padding:10px;
    //     margin:0;
    //   }
    //   .desvanecer:hover {
    //     opacity: 0.07;
    //     -webkit-transition: opacity 500ms;
    //     -moz-transition: opacity 500ms;
    //     -o-transition: opacity 500ms;
    //     -ms-transition: opacity 500ms;
    //     transition: opacity 500ms;
    //   }

    //   .celesteAP{
    //     background-color: #B5EAD7;
    //     color: #fff;
    //     font-weight: 800;
    //     width: 100%;
    //     text-align: center;
    //     border-radius: 5px;
    //     margin-left: 20px;
    //     margin-top: 150px;
        
    
    // }
    // .titulo-hover{
    //     font-size: 30px;
    //     font-weight: 900;
    //     color:#fff;
    //     margin-left: 20px;
    //     width: 100%;
    // }

    // .arrow{   
    //     margin-left: 20px;
    // } 